.p-navbar {
  height: 15vh;
  width: 80vw;
  padding: 0 10vw;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 20;
  top:0;
  background-color: #eaeae8;
  max-height: 100px;
}

.p-navbar-logo {
  height: 7.5vh;
  width: 15vw;
  max-height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  color: #ff871c;
  background: url("../../../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.p-navbar-text {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 25px;
  color: #5b445d
}

.p-navbar-buttons {
  width: fit-content;
  margin: 0;
  height: 15vh;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-navbar-button {
  background-color: #6d3f63;
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

@property --myColo1 {
  syntax: '<color>';
  initial-value: #6d3f63;
  inherits: false;
}

@property --myColo2 {
  syntax: '<color>';
  initial-value: #b79daf;
  inherits: false;
}

.p-navbar-button {
  background: linear-gradient(to bottom right, var(--myColo1), var(--myColo2));
  transition: --myColo1 0.2s, --myColo2 0.2s;
  transition: transform 0.1s ease-in-out;
}

.p-navbar-button:hover {  
  --myColo1: #b79daf;
  --myColo2: #6d3f63;
  transform: scale(1.1);
}

.active {
  background: transparent !important;
  color: #5b445d;
  border: 1px solid #b79daf;
}